.footer-section{
        background-color: #2e343d;
}
.footer-section hr {
    border: none;
    height: 2px;
    color: white; 
    text-align: center;
}
.footer-section text {
    text-align: center;
}
  .separator{
    display:flex;
    align-items: center;
  }
  
  .separator .line{
    height: 1px;
    flex: 1;
    background-color: rgb(255, 253, 253);
  }
  
  .separator h2{
    padding: 0 2rem;
  }