/* For Mobile Section */

.mobileNav {
    text-decoration: none;
    color: #333;
}

.signOutMobile {
    color: white;
    background: salmon;
    padding: 5px 30px;
    border-radius: 12px;
}

.btnMobile {
    background-color: mediumseagreen;
    color: aliceblue;

    padding: 5px 30px;
    border: none;
    border-radius: 10px;
}

/* For Pc Section */

.nav-items .item {
    color: #333;
}

.nav-items .item:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.signBtn .link {
    text-decoration: none;
}

.signBtn .signOut {
    color: white;
    background: salmon;
    padding: 5px 30px;
    border-radius: 12px;
}

.signBtn .signOut:hover {
    background-color: aqua;
    color: #333
}

.signBtn .btn {
    background-color: mediumseagreen;
    color: aliceblue;

    padding: 5px 30px;
    border: none;
    border-radius: 10px;
}

.signBtn .btn:hover {
    background: salmon;
    color: #eee;

}